@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    Welcome to your placeholder to-do list.
  </h1>
  <img src="/image.png" width="200" height="200">
  <br>
  <form method="post">
    <input type="text" name="todo" placeholder="Enter your todo here" maxlength="140" required>
    <button>Create TODO</button>
  </form>
  <p>Here all your to-do's will go</p>
  <ul>
      @foreach (var todo in Model.Todos)
      {
        <li>
          @(
            @todo.IsDone == true
            ? $"<s>{@todo.Text}</s>"
            : @todo.Text
          )
          @* <form method="post"> *@
            <button 
              type="button"
              name="done"
              id=@todo.Id
              checked=@todo.IsDone
              onclick="markAsDone(@todo.Id)"
            >
              @(
                @todo.IsDone == true
                ? "Undo"
                : "Done"
              )
            </button>
          @* </form> *@
        </li>
      }
  </ul>
</body>
<script>
  const BACKEND_URI = '@Model.BACKEND_URI';
  async function markAsDone(id){
    console.log("fetch function called with ID: " + id);
    const url = `http://${BACKEND_URI}/todos/${id}`;
    try{
      const response = await fetch(url, {
        method: 'PUT'
      });
      console.log(response)
    } catch (error){
      console.error(error.message)
    }
  }
</script>
</html>